<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.user.dao.UserDao">
    <select id="queryUserById" parameterType="int" resultType="com.blog.user.entity.bean.User">
        SELECT id,user_name userName,password,phone,email,real_name realName,birthday,sex,`position`,description,create_time createTime,
        modify_time modifyTime,modify_by modifyBy,locked,INET_NTOA(login_ip) loginIp FROM  sys_user WHERE id=#{id}
    </select>

    <!--保存用户信息-->
    <insert id="saveUser" parameterType="com.blog.user.entity.qo.user.UserQo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user(user_name,password,phone,email,real_name,birthday,sex,position,description,create_time,
        modify_time,modify_by,locked,login_ip)
        VALUES(#{userName},#{password},#{phone},#{email},#{realName},#{birthday},#{sex},#{position},#{description},
        #{createTime},#{modifyTime},#{modifyBy},#{locked},INET_ATON(#{loginIp}))
    </insert>

    <!--根据条件查询用户信息-->
    <select id="queryUserBySelective" parameterType="com.blog.user.entity.qo.user.UserQo" resultType="com.blog.user.entity.dto.user.UserDto">
        SELECT id,user_name userName,password,phone,email,openid,real_name realName,birthday,sex,`position`,description,create_time createTime,
        modify_time modifyTime,modify_by modifyBy,locked,login_ip loginIp FROM  sys_user
        <trim prefix="where" prefixOverrides="AND">
            <if test="phone!=null and phone!=''">
                AND phone=#{phone}
            </if>
            <if test="userId!=null">
                AND id=#{userId}
            </if>
            <if test="email!=null and email!=''">
                AND email=#{email}
            </if>
        </trim>
    </select>

    <!--修改用户信息-->
    <update id="updateUser" parameterType="com.blog.user.entity.qo.user.UserQo">
        UPDATE  sys_user SET user_name=#{userName},password=#{password},phone=#{phone},email=#{email},real_name=#{realName},birthday=#{birthday},sex=#{sex},
        `position`=#{position},description=#{description},create_time=#{createTime},modify_time=#{modifyTime},modify_by=#{modifyBy},locked=#{locked},
        login_ip=INET_ATON(#{loginIp}) WHERE id=#{userId}
    </update>

</mapper>